In [1]:
import pandas as pd
import numpy as np
from datetime import date
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import os
import json
import matplotlib.pyplot as plt

from sklearn.metrics import root_mean_squared_error

# Modelos
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
import xgboost as xgb

<center><img src="ml_lfcl.png"></center>

---
# 1. Data collection, Data Cleaning & Feature Engineering

### Método de **Feature Engeneering** e **Limpeza de Dados**

In [2]:
def feature_engeneering(df):
    df_eng = df.copy()

    # --- LIMPEZA INICIAL ---
    df_eng = df_eng.drop_duplicates()
    df_eng['hp'] = df['engine'].str.extract(r'(\d+\.?\d*)HP', expand=False).astype(float)
    df_eng['liters'] = df['engine'].str.extract(r'(\d+\.?\d*)L\s', expand=False).astype(float)

    # --- Idade e Uso ---
    var_ano_atual = date.today().year
    df_eng['car_age'] = var_ano_atual - df_eng['model_year']
    df_eng['car_age'] = df_eng['car_age'].replace(0, 1)

    # --- Cilindrada ---
    df_eng['cylinders'] = df['engine'].str.extract(r'(\d+)\s+Cylinder', expand=False)
    df_eng['cylinders'] = df_eng['cylinders'].fillna(df['engine'].str.extract(r'V(\d+)', expand=False))
    df_eng['cylinders'] = df_eng['cylinders'].astype(float)

    # --- Tecnologias de Motor ---
    df_eng['is_turbo'] = df['engine'].str.contains(r'(?i)turbo', na=False).astype(int)
    df_eng['turbo_type'] = df['engine'].str.extract(r'(Twin Turbo|Turbo)', expand=False)
    df_eng['valve_train'] = df['engine'].str.extract(r'(DOHC|OHV|SOHC)', expand=False) 
    df_eng['fuel_injection'] = df['engine'].str.extract(r'(PDI|GDI|MPFI)', expand=False)

    # --- Miles per year
    df_eng['miles_p_year'] = df_eng['milage'] / df_eng['car_age']

    # --- FUEL TYPE ---
    def clean_fuel(val):
        s = str(val).lower()
        if 'hybrid' in s:
            return 'Hybrid'
        elif 'not supported' in s:
            return 'EV'
        else:
            return val
    df_eng['fuel_type'] = df_eng['fuel_type'].apply(clean_fuel)

    # --- TRANSMISSION TYPE ---
    def clean_transmission(val):
        s = str(val).lower()
        if 'automatic' in s or 'a/t' in s or 'cvt' in s:
            return 'Automatico'
        elif 'manual' in s or 'm/t' in s:
            return 'Manual'
        else:
            return 'Outro'
    df_eng['transmission_type'] = df_eng['transmission'].apply(clean_transmission)
    
    # --- Tratamento de Nulos ---
    df_eng['clean_title'] = df_eng['clean_title'].replace('Unknown', 'No') #Vazio passsa a ser "No"
    
    cols_texto = df_eng.select_dtypes(include=['object']).columns
    df_eng[cols_texto] = df_eng[cols_texto].replace('-', 'Unknown').fillna('Unknown')

    # 1. Eficiência do motor
    # Evitar divisão por zero somando um valor ínfimo
    df_eng['hp_per_liter'] = df_eng['hp'] / (df_eng['liters'] + 0.001)

    # 2. Rácio de Potência por Cilindro
    df_eng['hp_per_cylinder'] = df_eng['hp'] / (df_eng['cylinders'] + 0.001)

    # 3. Quilometragem (Milage)
    # A milage tem uma distribuição muito "cauda longa". O Log ajuda o modelo a ver melhor as diferenças.
    df_eng['milage'] = np.log(df_eng['milage'])

    return df_eng

In [3]:
# Recolha os Dados
df_treino = pd.read_csv('dados/train.csv', index_col='id')
df_teste = pd.read_csv('dados/test.csv', index_col='id')

print("✓ Dados lidos com Sucesso!")

✓ Dados lidos com Sucesso!

In [4]:
# Aplicar feature engineering e Limpeza de dados
df_treino_eng = feature_engeneering(df_treino)
df_teste_eng = feature_engeneering(df_teste)

print("✓ Feature Engineering Aplicado com Sucesso!")

✓ Feature Engineering Aplicado com Sucesso!

In [5]:
df_treino_eng.head(1)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,...,car_age,cylinders,is_turbo,turbo_type,valve_train,fuel_injection,miles_p_year,transmission_type,hp_per_liter,hp_per_cylinder
id,,,,,,,,,,,,,,,,,,,,,
0,MINI,Cooper S Base,2007,12.269047,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,...,19,4.0,0,Unknown,Unknown,Unknown,11210.526316,Automatico,107.432854,42.989253

In [6]:
df_teste_eng.head(1)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,...,car_age,cylinders,is_turbo,turbo_type,valve_train,fuel_injection,miles_p_year,transmission_type,hp_per_liter,hp_per_cylinder
id,,,,,,,,,,,,,,,,,,,,,
188533,Land,Rover LR2 Base,2015,11.492723,Gasoline,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,...,11,4.0,0,Unknown,Unknown,Unknown,8909.090909,Automatico,119.94003,59.985004

In [7]:
# Separar target
y = np.log(df_treino_eng['price'])
X = df_treino_eng
X_test = df_teste_eng.copy()

# Tipos de Features Relevantes para Previsao
features_numericas = ['hp', 'liters', 'car_age', 'cylinders', 'miles_p_year','milage', 'model_year', 'is_turbo']

# Criar dataset numérico
X_num = X[features_numericas].fillna(0)
X_test_num = X_test[features_numericas].fillna(0)

In [8]:
# Encondificar features categoricas | Tornar valores de texto em numéricos
features_categoricas = ['brand', 'model', 'fuel_type', 'transmission_type', 
                           'clean_title', 'turbo_type', 'valve_train', 'fuel_injection','accident']

print("--- Valores Únicos por Coluna (Antes de Enconding) ---")
for col in features_categoricas:
    unicos = df_treino_eng[col].unique()
    print(f"\nColuna: {col} ({len(unicos)} valores)")
    print(unicos)

--- Valores Únicos por Coluna (Antes de Enconding) ---

Coluna: brand (57 valores)
['MINI' 'Lincoln' 'Chevrolet' 'Genesis' 'Mercedes-Benz' 'Audi' 'Ford'
 'BMW' 'Tesla' 'Cadillac' 'Land' 'GMC' 'Toyota' 'Hyundai' 'Volvo'
 'Volkswagen' 'Buick' 'Rivian' 'RAM' 'Hummer' 'Alfa' 'INFINITI' 'Jeep'
 'Porsche' 'McLaren' 'Honda' 'Lexus' 'Dodge' 'Nissan' 'Jaguar' 'Acura'
 'Kia' 'Mitsubishi' 'Rolls-Royce' 'Maserati' 'Pontiac' 'Saturn' 'Bentley'
 'Mazda' 'Subaru' 'Ferrari' 'Aston' 'Lamborghini' 'Chrysler' 'Lucid'
 'Lotus' 'Scion' 'smart' 'Karma' 'Plymouth' 'Suzuki' 'FIAT' 'Saab'
 'Bugatti' 'Mercury' 'Polestar' 'Maybach']

Coluna: model (1897 valores)
['Cooper S Base' 'LS V8' 'Silverado 2500 LT' ... 'e-Golf SE'
 'Integra w/A-Spec Tech Package' 'IONIQ Plug-In Hybrid SEL']

Coluna: fuel_type (7 valores)
['Gasoline' 'E85 Flex Fuel' 'Unknown' 'Hybrid' 'Diesel' '–' 'EV']

Coluna: transmission_type (3 valores)
['Automatico' 'Outro' 'Manual']

Coluna: clean_title (2 valores)
['Yes' 'Unknown']

Coluna: turbo_type (3 valores)
['Unknown' 'Twin Turbo' 'Turbo']

Coluna: valve_train (4 valores)
['Unknown' 'DOHC' 'OHV' 'SOHC']

Coluna: fuel_injection (4 valores)
['Unknown' 'PDI' 'GDI' 'MPFI']

Coluna: accident (3 valores)
['None reported' 'At least 1 accident or damage reported' 'Unknown']

In [9]:
# Preparar features Categoricas
X_cat = X[features_categoricas].copy().astype(str)
X_test_cat = X_test[features_categoricas].copy().astype(str)

X_cat = X_cat.replace('–', 'Unknown')
X_test_cat = X_test_cat.replace('–', 'Unknown')

# Encoding via Mapeamento (Pandas)
for col in features_categoricas:
    # Criar o dicionário baseado no treino: {valor: indice}
    # Ordenar alfabeticamente garante que o encoding seja consistente
    unique_values = sorted(X_cat[col].unique())
    mapping = {val: i for i, val in enumerate(unique_values)}
    
    # Aplicar no Treino
    X_cat[col] = X_cat[col].map(mapping)
    
    # Aplicar no Teste
    # .map() deixa NaN se o valor não existir no mapping. 
    # Usamos .fillna(-1) para novas categorias no teste.
    X_test_cat[col] = X_test_cat[col].map(mapping).fillna(-1).astype(int)

print("✓ Encoding Aplicado com Sucesso!")

✓ Encoding Aplicado com Sucesso!

In [10]:
print("--- Valores Únicos por Coluna (Depois de Enconding) ---")
for col in sorted(features_categoricas):
    unicos = pd.Series(X_cat[col].unique()).sort_values().tolist()  # Converte para lista
    print(f"\nColuna: {col} ({len(unicos)} valores)")
    print(unicos)

--- Valores Únicos por Coluna (Depois de Enconding) ---

Coluna: accident (3 valores)
[0, 1, 2]

Coluna: brand (57 valores)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56]

Coluna: clean_title (2 valores)
[0, 1]

Coluna: fuel_injection (4 valores)
[0, 1, 2, 3]

Coluna: fuel_type (6 valores)
[0, 1, 2, 3, 4, 5]

Coluna: model (1897 valores)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896]

Coluna: transmission_type (3 valores)
[0, 1, 2]

Coluna: turbo_type (3 valores)
[0, 1, 2]

Coluna: valve_train (4 valores)
[0, 1, 2, 3]

In [11]:
# Concatenar features | Features a serem utilizadas para generalização
X_final = pd.concat([X_num, X_cat], axis=1)
X_test_final = pd.concat([X_test_num, X_test_cat], axis=1)

In [12]:
X_final.head(1)

,hp,liters,car_age,cylinders,miles_p_year,milage,model_year,is_turbo,brand,model,fuel_type,transmission_type,clean_title,turbo_type,valve_train,fuel_injection,accident
id,,,,,,,,,,,,,,,,,
0,172.0,1.6,19,4.0,11210.526316,12.269047,2007,0,31,495,3,0,1,2,3,3,1

In [13]:
X_test_final.head(1)

,hp,liters,car_age,cylinders,miles_p_year,milage,model_year,is_turbo,brand,model,fuel_type,transmission_type,clean_title,turbo_type,valve_train,fuel_injection,accident
id,,,,,,,,,,,,,,,,,
188533,240.0,2.0,11,4.0,8909.090909,11.492723,2015,0,26,1390,3,0,1,2,3,3,1

---
# 2. Model Training & Evaluation

### Método de **Definição dos Modelos** - Dicionário com objetos dos modelos de previsão.

In [14]:
def obter_modelos():
    modelos = {
        'Linear Regression': LinearRegression(),

        'KNN': KNeighborsRegressor(),

        'Decision Tree': DecisionTreeRegressor(random_state=42),

        'Random Forest': RandomForestRegressor(random_state=42, n_jobs=-1),

        'XGBoost': xgb.XGBRegressor(random_state=42, n_jobs=-1),

        #'SVR Linear': SVR(kernel='linear'),

        'MLP Small': MLPRegressor(random_state=42, early_stopping=True),
    }

    return modelos

### Métodos para **"GridSearchCV"** - Otimização de Hipérparametrso

In [15]:
def obter_params_grid(nome_modelo):
    grids = {
        'Linear Regression': {
            'fit_intercept': [True, False],
            'copy_X': [True, False],
            'n_jobs': [-1],
            'positive': [True, False]
        },
        'KNN': {
            'n_neighbors': [3, 11],             #'n_neighbors': [3, 5, 7, 11],
            'weights': ['uniform', 'distance'],
            'p': [1, 2]                         # 1=Manhattan, 2=Euclidean
        },
        'Decision Tree': {
            'max_depth': [5, 10, 20],
            'min_samples_split': [2, 5, 10],
            'min_samples_leaf': [1, 2, 4],
            'criterion': ['squared_error']
        },
        'Random Forest': {
            'n_estimators': [100, 200, 300],
            'max_depth': [10, 20],
            'min_samples_split': [2, 5, 10],
            'min_samples_leaf': [1, 2, 4]
        },
        'XGBoost': {
            'n_estimators': [900, 1000, 1100],             #'n_estimators': [100, 500, 1000],
            'learning_rate': [0.01, 0.01, 0.1],          #'learning_rate': [0.01, 0.01, 0.1],
            'max_depth': [2, 3, 4],
        },
        'SVR Linear': {
            'C': [0.1, 1, 10, 100],
            'epsilon': [0.01, 0.1, 0.5]
        },
        'MLP Small': {
            'hidden_layer_sizes': [(50,50,50), (100,50), (100,)],
            'activation': ['tanh', 'relu'],
            'alpha': [0.0001, 0.05],
        }
    }
    return grids.get(nome_modelo, {})

A **Otimização de Hiperparâmetros, ou Hyperparameter Tuning em ingles**, é o processo de encontrar as melhores configurações para um modelo de Machine Learning, ajustando-as sistematicamente para otimizar o seu desempenho, precisão e capacidade de generalização. Os hiperparâmetros são definidos externamente antes da aprendizagem começar, servindo como o "manual de instruções" que molda o comportamento do algoritmo.

Para cada modelo, é definida uma grelha de valores para os hiperparâmetros pretendidos e, posteriormente, com a ajuda de Cross Validation (Validação Cruzada), o modelo é testado em diferentes subconjuntos de dados. No caso do GridSearchCV, o sistema executa uma pesquisa exaustiva, realizando todas as combinações possíveis da grelha para identificar qual delas maximiza uma métrica de desempenho específica, neste caso o RMSE (Root Mean Squared Error).

In [16]:
def executar_grid_search(modelo, nome, X_train, y_train, X_val, y_val):

    print(f"\n A iniciar GridSearch para : {nome}")
    
    # 1. Definir o param_grid (podes manter a lógica de dicionários que já tinhas)
    param_grid = obter_params_grid(nome) 

    grid_search = GridSearchCV(
        estimator=modelo,
        param_grid=param_grid,
        cv=3,
        scoring='neg_root_mean_squared_error',
        verbose=3,
        n_jobs=-1
    )

    # O fit do GridSearchCV já faz o treino final (refit) com o best_estimator_
    grid_search.fit(X_train, y_train)
    melhor_modelo = grid_search.best_estimator_

    # 2. Avaliação (o que estava no avaliar_modelo)
    y_pred_train = melhor_modelo.predict(X_train)
    y_pred_val = melhor_modelo.predict(X_val)

    rmse_train = root_mean_squared_error(y_train, y_pred_train)
    rmse_val = root_mean_squared_error(y_val, y_pred_val)

    print(f"\n======== {nome} ========")
    print(f"Melhores Parâmetros: {grid_search.best_params_}")
    print(f"\n▶ RMSE Treino: {rmse_train:.4f}")
    print(f"\n▶ RMSE Validação: {rmse_val:.4f}")

    # Retorna o dicionário de resultados completo
    return {
        'nome': nome,
        'rmse_train': rmse_train,
        'rmse_val': rmse_val,
        'modelo_treinado': melhor_modelo
    }

### Método com **Grafico de Dispersao** (Visualizacao de Previsao vs Real)

In [17]:
def grafico_dispersao(nome_modelo, modelo_obj, X_val, y_val, usar_scaled_viz=False, X_val_scaled=None):
    """
    Função para visualizar previsões vs valores reais para um modelo de regressão.
    
    Parâmetros:
    nome_modelo (str): Nome do modelo.
    modelo_obj (modelo): O modelo treinado.
    X_val (array-like): Dados de validação (não escalados).
    y_val (array-like): Rótulos reais de validação.
    usar_scaled_viz (bool): Se True, usa X_val_scaled para previsões, caso contrário usa X_val.
    X_val_scaled (array-like): Dados de validação escalados (necessário se usar_scaled_viz for True).
    """
    
    # Fazer previsões no conjunto de validação
    if usar_scaled_viz:
        y_pred = modelo_obj.predict(X_val_scaled)  # Previsões usando os dados normalizados
    else:
        y_pred = modelo_obj.predict(X_val)  # Previsões usando os dados originais

    # Criar o gráfico
    plt.figure(figsize=(8, 6))

    # Plotar previsões vs real
    plt.scatter(y_val, y_pred, c='b', marker='o', alpha=0.6, s=20)  # Dispersão das previsões
    plt.plot(y_val, y_val, c='r', linestyle='--', linewidth=2)  # Linha de perfeição (y = y_pred)

    # Configurações do gráfico
    plt.xlabel('Valor Real', fontsize=12)
    plt.ylabel('Valor Previsto', fontsize=12)
    plt.title(f'Previsões vs Real - {nome_modelo}', fontsize=14, fontweight='bold')
    plt.legend(['Previsões', 'Perfect Regressor'], loc='upper left', fontsize=10)
    plt.grid(True, alpha=0.3)

    # Mostrar o gráfico
    plt.tight_layout()
    plt.show()

---

In [18]:
X_train, X_val, y_train, y_val = train_test_split(X_final, y, test_size=0.2, random_state=42)

In [19]:
X_train.head(1)

,hp,liters,car_age,cylinders,miles_p_year,milage,model_year,is_turbo,brand,model,fuel_type,transmission_type,clean_title,turbo_type,valve_train,fuel_injection,accident
id,,,,,,,,,,,,,,,,,
184031,208.0,2.0,9,4.0,6852.777778,11.029634,2017,0,36,764,1,2,1,2,3,3,0

In [20]:
X_val.head(1)

,hp,liters,car_age,cylinders,miles_p_year,milage,model_year,is_turbo,brand,model,fuel_type,transmission_type,clean_title,turbo_type,valve_train,fuel_injection,accident
id,,,,,,,,,,,,,,,,,
111355,0.0,3.5,4,6.0,5919.25,10.072259,2022,0,39,1114,3,0,0,2,0,1,1

In [21]:
y_train

id
184031    10.085809
173831     9.017968
183819    10.308953
85525     10.736375
41872     10.645425
            ...
119879     9.210340
103694    10.488493
131932    11.510422
146867     8.814330
121958    12.100156
Name: price, Length: 150826, dtype: float64

In [22]:
y_val

id
111355    10.545315
182258    10.308953
14147     10.195112
79313     10.126591
101160    10.778852
            ...
71604     10.813458
137137    11.652687
70567      9.998798
94567      8.188689
105952     9.259131
Name: price, Length: 37707, dtype: float64

In [23]:
# Normalizar dados (importante para KNN, SVM e MLP) | Permite que todas as features contribuam equilibradamente para o modelo
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.fit_transform(X_val)

# Alinhar as colunas do conjunto de teste com as colunas usadas no treino
# (mesma ordem; preencher colunas em falta com 0)
X_test_aligned = X_test_final.reindex(columns=X_train.columns, fill_value=0)

X_test_scaled = scaler.fit_transform(X_test_aligned)

In [24]:
print(f"✓ Dados preparados:")
print(f"  - Treino: {X_train.shape[0]} amostras")
print(f"  - Validação: {X_val.shape[0]} amostras")
print(f"  - Features: {X_train.shape[1]}")

✓ Dados preparados:
  - Treino: 150826 amostras
  - Validação: 37707 amostras
  - Features: 17

### Treino de Modelos

In [ ]:
modelos = obter_modelos()

#Treinar os modelos e Avaliar
resultados = []
modelos_treinados = {}

for nome, modelo in modelos.items():
    # Decidir se usar dados normalizados
    usar_scaled = nome in ['KNN', 'SVR Linear', 'MLP Small']

    # Executar Grid Search para tuning
    if usar_scaled:
        X_t = X_train_scaled
        X_v = X_val_scaled
    else:
        X_t = X_train
        X_v = X_val
        
    res = executar_grid_search(modelo, nome, X_t, y_train, X_v, y_val)

    resultados.append(res)
    modelos_treinados[nome] = {
        'modelo': res['modelo_treinado'],
        'usar_scaled': usar_scaled
    }

 A iniciar GridSearch para : Linear Regression
Fitting 3 folds for each of 8 candidates, totalling 24 fits

======== Linear Regression ========
Melhores Parâmetros: {'copy_X': True, 'fit_intercept': True, 'n_jobs': -1, 'positive': False}

▶ RMSE Treino: 0.5481

▶ RMSE Validação: 0.5523

 A iniciar GridSearch para : KNN
Fitting 3 folds for each of 8 candidates, totalling 24 fits

In [ ]:
# Criar subplots para todos os modelos
n_modelos = len(modelos_treinados)
n_cols = 2
n_rows = (n_modelos + n_cols - 1) // n_cols

fig, axes = plt.subplots(n_rows, n_cols, figsize=(15, 5 * n_rows))

# Garantir que axes seja sempre um array 1D
if n_rows == 1 and n_cols == 1:
    axes = np.array([axes])
elif n_rows == 1:
    axes = axes  # Já é 1D quando n_rows=1
else:
    axes = axes.flatten()

for idx, (nome_modelo, info_modelo) in enumerate(modelos_treinados.items()):
    modelo_obj = info_modelo['modelo']
    usar_scaled_viz = info_modelo['usar_scaled']
    
    # Fazer previsões no conjunto de validação
    if usar_scaled_viz:
        y_pred = modelo_obj.predict(X_val_scaled)
    else:
        y_pred = modelo_obj.predict(X_val)
    
    ax = axes[idx]
    
    # Plotar previsões vs real
    ax.plot(y_val, y_pred, c='b', marker='o', linestyle='', alpha=0.6, markersize=4)
    ax.plot(y_val, y_val, c='r', linestyle='--', linewidth=2)
    
    ax.set_xlabel('Real (log)', fontsize=10)
    ax.set_ylabel('Previsto (log)', fontsize=10)
    ax.set_title(f'Previsões vs Real - {nome_modelo} | Escala Logaritimica', fontsize=12, fontweight='bold')
    ax.legend(['Validação', 'Perfect Regressor'], loc='upper left', fontsize=8)
    ax.grid(True, alpha=0.3)

# Remover subplots vazios se houver
for idx in range(n_modelos, len(axes)):
    fig.delaxes(axes[idx])

plt.tight_layout()
plt.show()

In [ ]:
# Comparação final
print(f"\n\n{'='*80}")
print(" ■ COMPARAÇÃO DE MODELOS (ordenados por RMSE de validação)")
print(f"{'='*80}\n")

# Criar o DataFrame com os resultados
df_resultados = pd.DataFrame(resultados)

df_resultados = df_resultados.sort_values('rmse_val', ascending=True)

print(df_resultados[['nome', 'rmse_val']].to_string(index=False))

# Melhor modelo
melhor_resultado = df_resultados.iloc[0]

print(f"\n\n ▶ MELHOR MODELO: {melhor_resultado['nome']}")
print(f"   RMSE Validação: {melhor_resultado['rmse_val']:,.4f}")

---
# 3. Salvar Submissão & Fazer Log do Modelo

### Método para **guardar log das configurações do modelo**

In [ ]:
def salvar_submissao_log(df_sub, modelo_treinado, nome_modelo, metricas):
    pasta = 'submissoes'
    os.makedirs(pasta, exist_ok=True)

    # Descobrir o próximo ID de submissão
    ficheiros = os.listdir(pasta)
    ids_existentes = []
    for f in ficheiros:
        if f.startswith('submission_') and f.endswith('.csv'):
            if f == "Historico_Resultados.csv": continue
            try:
                numero_str = f.replace('submission_', '').replace('.csv', '')
                ids_existentes.append(int(numero_str))
            except ValueError:
                continue
    
    next_id = max(ids_existentes) + 1 if ids_existentes else 1
    
    nome_arquivo_sub = f"submission_{next_id}.csv"
    path_csv_submissao = os.path.join(pasta, nome_arquivo_sub)
    path_log_geral = os.path.join(pasta, "Historico_Resultados.csv")

    # Salvar submissão
    df_sub.to_csv(path_csv_submissao, index=False)

    # Extrair Hiperparâmetros
    try:
        params = modelo_treinado.get_params()
    except:
        params = {"info": "Não foi possível extrair params"}

    
    dados_log = {
        "id_submissao": next_id,
        "ficheiro_submissao": nome_arquivo_sub,
        "Algoritmo": metricas['nome'],        
        "Treino RMSE": metricas['rmse_train'],
        "Validação RMSE": metricas['rmse_val'],
        "hiperparametros": str(params)
    }
        
    df_novo_registo = pd.DataFrame([dados_log])

    if os.path.exists(path_log_geral):
        df_novo_registo.to_csv(path_log_geral, mode='a', header=False, index=False)
    else:
        df_novo_registo.to_csv(path_log_geral, index=False)

    print(f"\n✓ Submissão #{next_id} finalizada!")
    print(f" ▱ Ficheiro de submissão: {path_csv_submissao}")
    print(f" ▱ Histórico atualizado em: {path_log_geral}")

In [ ]:
# Obter dados do melhor modelo do DataFrame de resultados
melhor_modelo_nome = melhor_resultado['nome'] # Alterado de 'modelo' para 'nome'
melhor_modelo = modelos_treinados[melhor_modelo_nome]['modelo']
usar_scaled = modelos_treinados[melhor_modelo_nome]['usar_scaled']

# Escolher o conjunto de teste correto
X_test_usar = X_test_scaled if usar_scaled else X_test_aligned

# Fazer previsões
pred_log = melhor_modelo.predict(X_test_usar)


pred_reais = np.exp(pred_log) 

# Criar DataFrame de submissão
df_submissao = pd.DataFrame({
    'id': df_teste.index,
    'price': pred_reais
})

# Chamar a função de salvamento
salvar_submissao_log(df_submissao, melhor_modelo, melhor_modelo_nome, melhor_resultado.to_dict())